In [1]:
#導入所需套件

import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from keras.models import Sequential
from keras import layers
from keras.optimizers import *
from sklearn.metrics import roc_auc_score

Using TensorFlow backend.

In [2]:
#讀進訓練集和測試集

train_df = pd.read_csv('train/train.csv',encoding='Big5')
test_df = pd.read_csv('test/test.csv',encoding='Big5')
train_df.head()

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CUS_ID,GENDER,AGE,CHARGE_CITY_CD,CONTACT_CITY_CD,EDUCATION_CD,MARRIAGE_CD,LAST_A_CCONTACT_DT,L1YR_A_ISSUE_CNT,LAST_A_ISSUE_DT,...,L1YR_GROSS_PRE_AMT,CUST_9_SEGMENTS_CD,FINANCETOOLS_A,FINANCETOOLS_B,FINANCETOOLS_C,FINANCETOOLS_D,FINANCETOOLS_E,FINANCETOOLS_F,FINANCETOOLS_G,Y1
0,3418,M,低,A1,A1,NaN,NaN,Y,0,N,...,0.000174,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,4302,M,低,A1,A1,NaN,NaN,Y,0,N,...,0.008724,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,5545,M,低,A1,A1,1.0,0.0,Y,1,Y,...,0.005359,A,Y,N,N,N,N,N,N,N
3,7207,M,低,A1,A1,NaN,0.0,Y,0,N,...,0.000000,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,7213,M,低,A1,A1,1.0,0.0,N,0,N,...,0.000603,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [3]:
#移除不需要的特徵

train_df=train_df.drop(columns=['LAST_B_ISSUE_DT','IF_Y_REAL_IND','IF_ISSUE_O_IND','IF_ISSUE_M_IND','CUS_ID'])
test_df=test_df.drop(columns=['LAST_B_ISSUE_DT','IF_Y_REAL_IND','IF_ISSUE_O_IND','IF_ISSUE_M_IND','CUS_ID'])
train_df.head()

,GENDER,AGE,CHARGE_CITY_CD,CONTACT_CITY_CD,EDUCATION_CD,MARRIAGE_CD,LAST_A_CCONTACT_DT,L1YR_A_ISSUE_CNT,LAST_A_ISSUE_DT,L1YR_B_ISSUE_CNT,...,L1YR_GROSS_PRE_AMT,CUST_9_SEGMENTS_CD,FINANCETOOLS_A,FINANCETOOLS_B,FINANCETOOLS_C,FINANCETOOLS_D,FINANCETOOLS_E,FINANCETOOLS_F,FINANCETOOLS_G,Y1
0,M,低,A1,A1,NaN,NaN,Y,0,N,0,...,0.000174,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,M,低,A1,A1,NaN,NaN,Y,0,N,0,...,0.008724,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,M,低,A1,A1,1.0,0.0,Y,1,Y,0,...,0.005359,A,Y,N,N,N,N,N,N,N
3,M,低,A1,A1,NaN,0.0,Y,0,N,0,...,0.000000,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,M,低,A1,A1,1.0,0.0,N,0,N,0,...,0.000603,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [4]:
#設定標籤值

cnt=0
for i in train_df['Y1']:
    if i=='N':
        train_df['Y1'][cnt]=0
    elif i=='Y':
        train_df['Y1'][cnt]=1
    cnt+=1

label=train_df['Y1']
label=np.array(label, dtype=int)
train_df=train_df.drop(columns=['Y1'])
train_df.head()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,GENDER,AGE,CHARGE_CITY_CD,CONTACT_CITY_CD,EDUCATION_CD,MARRIAGE_CD,LAST_A_CCONTACT_DT,L1YR_A_ISSUE_CNT,LAST_A_ISSUE_DT,L1YR_B_ISSUE_CNT,...,IF_ADD_INSD_IND,L1YR_GROSS_PRE_AMT,CUST_9_SEGMENTS_CD,FINANCETOOLS_A,FINANCETOOLS_B,FINANCETOOLS_C,FINANCETOOLS_D,FINANCETOOLS_E,FINANCETOOLS_F,FINANCETOOLS_G
0,M,低,A1,A1,NaN,NaN,Y,0,N,0,...,N,0.000174,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M,低,A1,A1,NaN,NaN,Y,0,N,0,...,N,0.008724,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M,低,A1,A1,1.0,0.0,Y,1,Y,0,...,N,0.005359,A,Y,N,N,N,N,N,N
3,M,低,A1,A1,NaN,0.0,Y,0,N,0,...,N,0.000000,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M,低,A1,A1,1.0,0.0,N,0,N,0,...,N,0.000603,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#對特徵進行優化處理

#訓練集
train_df['OCCUPATION_CLASS_CD']=train_df['OCCUPATION_CLASS_CD'].fillna(6)
train_df=pd.get_dummies(data=train_df,columns=['OCCUPATION_CLASS_CD'])
train_df['TERMINATION_RATE']=train_df['TERMINATION_RATE'].fillna(train_df['TERMINATION_RATE'].max())
train_df['EXPIRATION_AMT']=train_df['EXPIRATION_AMT'].fillna(train_df['EXPIRATION_AMT'].max())
train_df['ILL_ADDITIONAL_AMT']=train_df['ILL_ADDITIONAL_AMT'].fillna(train_df['ILL_ADDITIONAL_AMT'].max())
train_df['LONG_TERM_CARE_AMT']=train_df['LONG_TERM_CARE_AMT'].fillna(train_df['LONG_TERM_CARE_AMT'].max())
train_df['APC_1ST_YEARDIF']=train_df['APC_1ST_YEARDIF'].fillna(train_df['APC_1ST_YEARDIF'].mean())
train_df['POLICY_VALUE_AMT']=train_df['POLICY_VALUE_AMT'].fillna(train_df['POLICY_VALUE_AMT'].max())
train_df['ILL_ACCELERATION_AMT']=train_df['ILL_ACCELERATION_AMT'].fillna(train_df['ILL_ACCELERATION_AMT'].max())
train_df['ANNUITY_AMT']=train_df['ANNUITY_AMT'].fillna(train_df['ANNUITY_AMT'].max())
train_df['FIRST_CANCER_AMT']=train_df['FIRST_CANCER_AMT'].fillna(train_df['FIRST_CANCER_AMT'].max())
train_df['OUTPATIENT_SURGERY_AMT']=train_df['OUTPATIENT_SURGERY_AMT'].fillna(train_df['OUTPATIENT_SURGERY_AMT'].max())
train_df['BMI']=train_df['BMI'].fillna(train_df['BMI'].mean())
train_df['ANNUAL_INCOME_AMT']=train_df['ANNUAL_INCOME_AMT'].fillna(train_df['ANNUAL_INCOME_AMT'].max())

#測試集
test_df['OCCUPATION_CLASS_CD']=test_df['OCCUPATION_CLASS_CD'].fillna(6)
test_df=pd.get_dummies(data=test_df,columns=['OCCUPATION_CLASS_CD'])
test_df['TERMINATION_RATE']=test_df['TERMINATION_RATE'].fillna(test_df['TERMINATION_RATE'].max())
test_df['EXPIRATION_AMT']=test_df['EXPIRATION_AMT'].fillna(test_df['EXPIRATION_AMT'].max())
test_df['ILL_ADDITIONAL_AMT']=test_df['ILL_ADDITIONAL_AMT'].fillna(test_df['ILL_ADDITIONAL_AMT'].max())
test_df['LONG_TERM_CARE_AMT']=test_df['LONG_TERM_CARE_AMT'].fillna(test_df['LONG_TERM_CARE_AMT'].max())
test_df['APC_1ST_YEARDIF']=test_df['APC_1ST_YEARDIF'].fillna(test_df['APC_1ST_YEARDIF'].mean())
test_df['POLICY_VALUE_AMT']=test_df['POLICY_VALUE_AMT'].fillna(test_df['POLICY_VALUE_AMT'].max())
test_df['ILL_ACCELERATION_AMT']=test_df['ILL_ACCELERATION_AMT'].fillna(test_df['ILL_ACCELERATION_AMT'].max())
test_df['ANNUITY_AMT']=test_df['ANNUITY_AMT'].fillna(test_df['ANNUITY_AMT'].max())
test_df['FIRST_CANCER_AMT']=test_df['FIRST_CANCER_AMT'].fillna(test_df['FIRST_CANCER_AMT'].max())
test_df['OUTPATIENT_SURGERY_AMT']=train_df['OUTPATIENT_SURGERY_AMT'].fillna(test_df['OUTPATIENT_SURGERY_AMT'].max())
test_df['BMI']=train_df['BMI'].fillna(test_df['BMI'].mean())
test_df['ANNUAL_INCOME_AMT']=test_df['ANNUAL_INCOME_AMT'].fillna(test_df['ANNUAL_INCOME_AMT'].max())

train_df.head()

,GENDER,AGE,CHARGE_CITY_CD,CONTACT_CITY_CD,EDUCATION_CD,MARRIAGE_CD,LAST_A_CCONTACT_DT,L1YR_A_ISSUE_CNT,LAST_A_ISSUE_DT,L1YR_B_ISSUE_CNT,...,FINANCETOOLS_E,FINANCETOOLS_F,FINANCETOOLS_G,OCCUPATION_CLASS_CD_0.0,OCCUPATION_CLASS_CD_1.0,OCCUPATION_CLASS_CD_2.0,OCCUPATION_CLASS_CD_3.0,OCCUPATION_CLASS_CD_4.0,OCCUPATION_CLASS_CD_5.0,OCCUPATION_CLASS_CD_6.0
0,M,低,A1,A1,NaN,NaN,Y,0,N,0,...,NaN,NaN,NaN,0,1,0,0,0,0,0
1,M,低,A1,A1,NaN,NaN,Y,0,N,0,...,NaN,NaN,NaN,0,1,0,0,0,0,0
2,M,低,A1,A1,1.0,0.0,Y,1,Y,0,...,N,N,N,0,1,0,0,0,0,0
3,M,低,A1,A1,NaN,0.0,Y,0,N,0,...,NaN,NaN,NaN,0,1,0,0,0,0,0
4,M,低,A1,A1,1.0,0.0,N,0,N,0,...,NaN,NaN,NaN,0,1,0,0,0,0,0

In [6]:
#對資料進行補值

train_df=train_df.fillna(0)
test_df=test_df.fillna(0)
train_df.head()

,GENDER,AGE,CHARGE_CITY_CD,CONTACT_CITY_CD,EDUCATION_CD,MARRIAGE_CD,LAST_A_CCONTACT_DT,L1YR_A_ISSUE_CNT,LAST_A_ISSUE_DT,L1YR_B_ISSUE_CNT,...,FINANCETOOLS_E,FINANCETOOLS_F,FINANCETOOLS_G,OCCUPATION_CLASS_CD_0.0,OCCUPATION_CLASS_CD_1.0,OCCUPATION_CLASS_CD_2.0,OCCUPATION_CLASS_CD_3.0,OCCUPATION_CLASS_CD_4.0,OCCUPATION_CLASS_CD_5.0,OCCUPATION_CLASS_CD_6.0
0,M,低,A1,A1,0.0,0.0,Y,0,N,0,...,0,0,0,0,1,0,0,0,0,0
1,M,低,A1,A1,0.0,0.0,Y,0,N,0,...,0,0,0,0,1,0,0,0,0,0
2,M,低,A1,A1,1.0,0.0,Y,1,Y,0,...,N,N,N,0,1,0,0,0,0,0
3,M,低,A1,A1,0.0,0.0,Y,0,N,0,...,0,0,0,0,1,0,0,0,0,0
4,M,低,A1,A1,1.0,0.0,N,0,N,0,...,0,0,0,0,1,0,0,0,0,0

In [7]:
#對資料進行one-hot encoding

#訓練集
cnt_list=list()
df_name=list(train_df)
column_name=list()
cnt=0
for i in train_df.iloc[629,:]:
    if type(i)==str:
        cnt_list.append(cnt)
    cnt+=1
for i in cnt_list:
    column_name.append(df_name[int(i)])
# len(column_name)
    train_extend=pd.get_dummies(data=train_df,columns=column_name)

#測試集
cnt_list=list()
df_name=list(test_df)
column_name=list()
cnt=0
for i in test_df.iloc[1543,:]:
    if type(i)==str:
        cnt_list.append(cnt)
    cnt+=1
for i in cnt_list:
    column_name.append(df_name[int(i)])
# len(column_name)
    test_extend=pd.get_dummies(data=test_df,columns=column_name)
    
train_extend.head()

,EDUCATION_CD,MARRIAGE_CD,L1YR_A_ISSUE_CNT,L1YR_B_ISSUE_CNT,CHANNEL_A_POL_CNT,CHANNEL_B_POL_CNT,APC_CNT,INSD_CNT,APC_1ST_YEARDIF,LEVEL,...,FINANCETOOLS_D_Y,FINANCETOOLS_E_0,FINANCETOOLS_E_N,FINANCETOOLS_E_Y,FINANCETOOLS_F_0,FINANCETOOLS_F_N,FINANCETOOLS_F_Y,FINANCETOOLS_G_0,FINANCETOOLS_G_N,FINANCETOOLS_G_Y
0,0.0,0.0,0,0,0,0,0,0,0.046512,3.0,...,0,1,0,0,1,0,0,1,0,0
1,0.0,0.0,0,0,0,0,0,0,0.046512,5.0,...,0,1,0,0,1,0,0,1,0,0
2,1.0,0.0,1,0,1,0,1,0,0.000000,5.0,...,0,0,1,0,0,1,0,0,1,0
3,0.0,0.0,0,0,0,0,0,0,0.162791,5.0,...,0,1,0,0,1,0,0,1,0,0
4,1.0,0.0,0,0,1,0,1,0,0.116279,2.0,...,0,1,0,0,1,0,0,1,0,0

In [8]:
train_feature=train_extend.values
test_feature=test_extend.values

minmax_scale=preprocessing.MinMaxScaler(feature_range=(0,1))
train_minmax_feature=minmax_scale.fit_transform(train_feature)
test_minmax_feature=minmax_scale.fit_transform(test_feature)

print("Train data normalization:",train_minmax_feature[0])
print("Test data normalization:",test_minmax_feature[0])

Train data normalization: [0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 4.99999979e-02 6.00000000e-01 3.00000000e-01 5.06680033e-04
 5.55555556e-02 0.00000000e+00 0.00000000e+00 6.66662800e-03
 0.00000000e+00 1.42857143e-01 5.26315790e-02 1.35135135e-01
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 1.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 1.00000000e+00 1.00000000e+00
 1.00000000e+00 0.00000000e+00 1.69491525e-02 5.31202698e-04
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00]
Test data normalization: [5.00000000e-01 0.00000000e+00 1.11111111e-01 0.00000000e+00
 4.00000000e-02 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 8.00000000e-01 1.10823694e-03
 6.25000000e-02 1.11111111e-01 1.11111111e-01 1.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.35135135e-01
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 1.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 1.00000000e+00 1.00000000e+00
 1.00000000e+00 0.00000000e+00 7.14285719e-02 8.87578541e-04
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 1.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
 1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
 0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
 0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00]

In [9]:
#將訓練集做切割(訓練集和驗證集)

x,y=shuffle(train_minmax_feature,label,random_state=2)
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.1,random_state=10)

In [17]:
#建立訓練模型

model = Sequential()
model.add(layers.Dense(1024, activation='relu',input_shape=(292,)))
model.add(layers.Dropout(0.4))
model.add(layers.Dense(1,activation='sigmoid'))
model.compile(optimizer=Adam(1e-3,decay=1e-4), loss='binary_crossentropy', metrics=['accuracy'])
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 1024)              300032
_________________________________________________________________
dropout_2 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 1025
=================================================================
Total params: 301,057
Trainable params: 301,057
Non-trainable params: 0
_________________________________________________________________

In [18]:
#開始訓練模型

model.fit(x,y,validation_data=(test_x,test_y),epochs=6,batch_size=100,verbose=1)
predict1=model.predict(test_x)
predict2=model.predict(train_x)
score1=roc_auc_score(test_y, predict1)
score2=roc_auc_score(train_y, predict2)
print("Train data score:",score1)
print("Test data score:",score2)

Train on 100000 samples, validate on 10000 samples
Epoch 1/6
100000/100000 [==============================] - 5s 49us/step - loss: 0.0897 - acc: 0.9790 - val_loss: 0.0819 - val_acc: 0.9805
Epoch 2/6
100000/100000 [==============================] - 5s 48us/step - loss: 0.0838 - acc: 0.9801 - val_loss: 0.0787 - val_acc: 0.9806
Epoch 3/6
100000/100000 [==============================] - 5s 48us/step - loss: 0.0828 - acc: 0.9800 - val_loss: 0.0779 - val_acc: 0.9806
Epoch 4/6
100000/100000 [==============================] - 5s 51us/step - loss: 0.0821 - acc: 0.9800 - val_loss: 0.0778 - val_acc: 0.9806
Epoch 5/6
100000/100000 [==============================] - 4s 44us/step - loss: 0.0816 - acc: 0.9800 - val_loss: 0.0776 - val_acc: 0.9806
Epoch 6/6
100000/100000 [==============================] - 5s 48us/step - loss: 0.0811 - acc: 0.9800 - val_loss: 0.0770 - val_acc: 0.9805
Train data score: 0.8550955547939301
Test data score: 0.8562118424320331

In [19]:
#預測測試集並輸出預測檔案

predict=model.predict(test_minmax_feature)
sub=pd.read_csv('submit_test/submit_test.csv',sep=',')
sub['Ypred']=predict
sub.to_csv('predict1.csv',index=False)